@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body {
    background-color: #f0f0f0;
}
.main-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin-left: 260px;
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    transition: transform 0.3s ease;
}
.main-container.centered {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    transform: translateX(-10px);
}
.sidebar {
    width: 240px;
    background-color: #ffffff;
    height: 89vh;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 12px;
    transition: transform 0.5s ease;
}
.sidebar.hidden{
    display: none;
    transform: translateX(-10%);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
}
.sidebar ul li {
    display: flex;
    padding: 10px;
    margin: 10px 5px;
    font-size: 16px;
}
.sidebar ul li .fa {
    margin-right: 10px;
}
.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}
.sidebar ul li:hover {
    background-color: #f0f0f0;
    margin: 5px 8px;
    border-radius: 12px;
}
.sidebar ul li:nth-child(3) {
    font-size: small;
    margin: 5px 5px;
}
.sidebar ul li:nth-child(4) {
    font-size: small;
}
.sidebar ul li:nth-child(5) {
    font-size: small;
}
     /*Navigation Bar*/
.div-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    border-radius: 12px;
}
.div-navbar .nav-title {
    display: flex;
    align-items: center;
}
.div-navbar .nav-title h4 {
    display: flex;
    align-items: center;
    margin: 0;
}
.div-navbar .hamburger, .logout {
    font-size: 18px;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.logout:hover::after {
    content: "Logout";
    font-size: 13px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
}
.main-content {
    padding: 20px;
    background-color: #ffffff;
    height: 475px;
    border-radius: 12px;
    position: relative;
    top: 20px;
}
.main-content h5{
    font-size: 17px;
    padding: 15px;
}
.main-content h5 i {
    margin-right: 5px;
}
.main-content .card-wrapper{
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
}
.main-content .card {
    background-color: #ffffff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    margin: 10px 15px;
    font-weight: 600;
    height: 160px;
    width: 30%;
}
.main-content .card:hover{
    opacity: 0.8;
    cursor: pointer;
}
.main-content .card:active{
    box-shadow: 2px 8px 14px rgba(0, 0, 0, 0.2);
}
.card.blue { background-color: #4444d1; }
.card.orange { background-color: #f18427; }
.card.green { background-color: #4cab54; }
.card.red { background-color: #fa0000ec; }

.card p {
    color: #ffffff;
    font-size: 2em;
    margin-top: 10px;
}
.card span {
    color: #ffffff;
    margin-top: 12px;
}