@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body {
    background-color: #f0f0f0;
}
.main-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin-left: 260px;
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    transition: transform 0.3s ease;
}
.main-container.centered {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    transform: translateX(-10px);
}
    /*Navigation Bar*/
    .div-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    border-radius: 12px;
}
.div-navbar .nav-title {
    display: flex;
    align-items: center;
}
.div-navbar .nav-title h4 {
    display: flex;
    align-items: center;
    margin: 0;
}
.div-navbar .hamburger, .logout {
    font-size: 18px;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.logout:hover::after {
    content: "Logout";
    font-size: 13px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
}
.main-content {
    padding: 20px;
    background-color: #ffffff;
    height: 475px;
    border-radius: 12px;
    position: relative;
    top: 20px;
}
.main-content h5{
    font-size: 17px;
    padding: 15px;
}
.main-content h5 i {
    margin-right: 5px;
}

/*Finished Here*/

.content {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

table th, table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #000;
}

table th {
    background-color: #f2f2f2;
}

.status {
    padding: 8px 10px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.status-not-processed {
    background-color: red;
}

.status-in-process {
    background-color: #eed920;
    color: #000;
}

.status-closed {
    background-color: blue;
}

.btn.view-details {
    padding: 8px 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.btn.view-details {
    background-color: #3498db;
}